body{
    margin: 0;
    padding-top: 800px;
}
.profile{
    width:175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: chartreuse;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0.83;
    background: linear-gradient(blue 0%, yellow 100%);
    display:table;
    height: 100%;
    width: 100%;
    z-index: 1;
    position:absolute;
}
.parallax-inner{
    display:table-cell;
    position:relative;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: 40px;
    line-height: 1.2;
    font-family: fantasy;
    font-weight: 300;
}
#name{
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive; 
}
h2{
    font-size: 40px;
    line-height: 1.2;
    font-family:inherit;
    font-weight: 300;
}
#bio{
    padding:50px;
    text-align: center;
    font-size: 40px;
}
.line{
    height: 6px;
    background-color: azure;
    width: 70px;
}
.menu{
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px
    z-index: 100;
    cursor:pointer;;
}
.link{
    font-size: 34px;
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.link:hover{
    background-color: ghostwhite;
}